    <div id="impressum">
        <h1>Impressum</h1>
        <section>
            <h2>Kontaktadresse</h2>
            <h3>Mindliner AG</h3>
            <p>c/o Marius Messerli | Hanflandstrasse 68 | 8125 Zollikerberg | support(at)mindliner.com</p>
        </section>
        <section>
            <h2>Handelsregistereintrag</h2>
            <p>Eingetragener Firmenname: Mindliner AG</p>
            <p>HR-Nummer: CHE-446.210.834</p>
            <p>Handelsregisteramt: Zürich</p>
        </section>
        <section>
            <h2>Mehrwertsteuernummer</h2>
            <p>CHE-446.210.834 MWST</p>
        </section>
        <section>
            <h2>Medien</h2>
            <h3>Hintergrundbild</h3>
            <p>Von <a href="https://goo.gl/JGEiPX">Marius Brede</a>, veröffentlicht unter CC BY-SA 2.0. Für die Webseite wurde das Bild zugeschnitten.</p>
        </section>
        <section>
            <h2>Haftungsausschluss</h2>
            <p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.</p>
            <p>Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.</p>
            <p>Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
        </section>
        <section>
            <h2>Haftung für Links</h2>
            <p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin.</p>
        </section>
        <section>
            <h2>Urheberrechte</h2>
            <p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website gehören ausschliesslich der Firma oder den speziell genannten Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.</p>
        </section>
    </div>