
<div id="anchor-bar" ng-controller="anchorController" scroll-spy>
    <ul dir="rtl">
        <li spy="about"><a href="" ng-click="gotoAnchor('about')">ABOUT</a></li>
        <li spy="benefits"><a href="" ng-click="gotoAnchor('benefits')">BENEFITS</a></li>
        <li spy="partners"><a href="" ng-click="gotoAnchor('partners')">PARTNERS</a></li>
        <li spy="team"><a href="" ng-click="gotoAnchor('team')">TEAM</a></li>
    </ul>
</div>

<p class="slogan-dark">
        The revolutionary notebook for curious innovators:
</p>

<a style="margin-left: 15px" class="uppercase x-large button" href="/downloads">Try Mindliner</a>

<p class="slogan-light"><strong class="ml-turquoise">Mindliner</strong> uses knowlets instead of documents as vehicle for opinions, ideas and facts.</p>

<span class="anchor" id="about">Text</span>
<section class="chapter">

    <h1>Why <strong class="ml-turquoise">Mindliner?</strong></h1>

    <article class="col-2-entry">
        <h3>People First</h3>
        <p>In Mindliner, knowlets and links are individually created, edited, and removed by people, a process that we believe increases information density and reliability.</p>
    </article>

    <article class="col-2-entry">
        <h3>Clean Knowledge Architecture</h3>
        <p>We have introduced the term <i>Knowlet</i> for a fact, a belief, an idea, or a decision. We believe Knowlets foster reuse and team thinking better than classic documents. 
            Each knowlet has its own associations, lifetime, and level of privacy.</p>
    </article>

    <article class="col-2-entry">
        <h3>Communication Through Visualization</h3>
        <p>From the same data users can choose from a range of complementary display methods: (live) mindmaps are great for structured presentation, "worksphere maps" are 
            great to mapping processes, people, and responsibilities, and lists are ideal for chronologic note taking</p>
    </article>

    <article class="col-2-entry">
        <h3>Do Not Repeat Yourself</h3>
        <p>"DRY" has proven to be a vital ingredient of software engineering - why should it not also boost knowledge creation? 
            Reuse lets authors use existing material and shows them what others build with their data. We believe that knowlets are well suited for direct reuse and recombination.</p>
    </article>

</section>

<span class="anchor" id="benefits">Text</span>
<section class="chapter">

    <h1>Features & Benefits</h1>

    <article class=col-3-entry>
        <h3>Simple Entry</h3>
        <p>Only the headline field must be populated, the rest is optional. Due to Mindliner's association capabilities knowlets are agile and entry is super easy.</p>
    </article>

    <article class="col-3-entry">
        <h3>Instant Search</h3>
        <p>Every addition or modification is instantly indexed and enables fast full-text search. If files with text are dropped into Mindliner (DesktopApp only) a 
            knowlet is created that will be found through searches against any of its content text.</p>
    </article>

    <article class="col-3-entry">
        <h3>Subscriptions / Watches</h3>
        <p>To stay up to date users can subscribe to events, people, or knowlets and are subsequently notified accordingly.</p>    
    </article>

    <article class="col-3-entry">
        <h3>High Volume</h3>
        <p>Mindliner has been designed to handle hundreds of thousands of objectcs per team or active individual.</p>
    </article>

    <article class="col-3-entry">
        <h3>Quick Setup</h3>
        <p>Within an hour Mindliner provides your organization with an information infrastructure that operates with affordable cost.</p>
    </article>                
</section>

<span class="anchor" id="partners">Text</span>
<section class="chapter">
    <h1>Partners</h1>
    <article class="col-1-entry">
        <h2>
            <a href="http://www.wissenstransfer.ch" target="_blank" title="opens partner site in separate tab">
                <img style="max-width: 100%;" src="images/wissenstransfer_logo.png"/>
            </a>
        </h2>
        <p>One of the key applications where Mindliner takes a special interest is knowledge transfer. When key employees move to another project or department the people taking their responsibility are depending on an efficient transition.
        </p>
        <p>Mindliner formed a strategic partnership with Wissenstransfer.CH, a company founded by Benno Ackermann. Benno is a recognized expert in the yet young field of <strong>structured knowledge transfer</strong>. Togehter we are implementing technology to document knowledge transfer in a way that enables people to easily extend it into their daily routines after the transfer
        </p>
    </article>
</section>

<span class="anchor" id="team">Text</span>
<section class="chapter">
    <h1>Behind <strong class="ml-turquoise">Mindliner</strong></h1>
    <article class="col-1-entry">
        <div class="image-wrapper">
            <img width="100%" src="images/team.jpg">
            <p class="smaller">Ming Zheng, Osman Jakupi, Dominic Plangger, Marius Messerli</p>
        </div>
        <p>Marius started the development of Mindliner in December 2005 and since mid 2006 the platform is in daily operation. Some of our users manage north of one hundred thousand thoughts. Mindliner AG was founded in 2013 and is based in Zurich, Switzerland. You can reach us at <span class="ml-turquoise">welcome(at)mindliner.com</span>.</p>
        <div>
            <img src="images/bitcoin_logo.png" width="50" style="float:left; margin-right:0.5em;margin-left:0.5em;"/>
            <p style="width:70%;"><strong>Would you like to support us on this journey?</strong> Thanks for donating to the following Bitcoin adress:
                <span class="ml-turquoise">12NjZenGiukmYcsEN7ofe94an53PE2sLdm</span></p>
        </div>
    </article>
</section>