            <section class="chapter">
                <h1>When Do I Need MindlinerDesktop?</h1>

                    <p class="slogan-dark">
                       If you use <strong class="ml-turquoise">
                       Mindliner</strong> daily and have enough computer resources to keep it running throughout the work day then you will get a significant general performance boost from the
                       DesktopApp no matter what you are using it for. In addition there are the features described below which are only available in the DesktopApp.
                    </p>

            </section> 
            <section class="chapter">
                <article class="col-3-entry" >
                    <h3>MINDMAPPING</h3>
                    <ul>
                        <li>custom color schemes to highlight objects through attributes</li>
                        <li>upload and index files through drag & drop</li>
                        <li>linking one and the same object to multiple "parents" in the mind map</li>
                        <li>text formatting of all nodes while preserving display hierarchy</li>
                        <li>optional display of description and attributes on map node</li>
                    </ul>
                </article>
                <article class="col-3-entry">
                    <h3>CACHING & OFFLINE MODE</h3>
                    <ul>
                        <li>object and attribute cache speeds up search, presentation, and navigation</li>
                        <li>offline search, editing, and creation of objects with automatic re-synch when going online</li>
                    </ul>
                </article>
                <article class="col-3-entry">
                    <h3>EDITING</h3>
                    <ul>
                        <li>hanging attributes for multiple objects at once</li>
                        <li>specific contact editor including profile picture update</li>
                    </ul>
                </article>
                <article class="col-3-entry">
                    <h3>SEARCH LIST</h3>
                    <ul>
                        <li>choice of columns to display in results list</li>
                        <li>drag and drop an object (or objects) from the search list onto an existing node in the mind map to link it up</li>
                    </ul>
                </article>
                <article class="col-3-entry">
                    <h3>WEEKPLANS & TIME TRACKING</h3>
                    <ul>
                        <li>creation of weekplans using existing and new tasks</li>
                        <li>creation of week baseline plan</li>
                        <li>tracking of time against tasks on the plan with comparison to baseline plan</li>
                        <li>display of own plans together with those of the team</li>
                    </ul>
                </article>
                <article class="col-3-entry">
                    <h3>WORKSPHERE MAP</h3>
                    <ul>
                        <li>mapping workflows, responsibilities and processes for knowledge transfer or documentation</li>
                        <li>interactively and visually classifying objects</li>
                        <li>charts like the business model canvas</li>
                    </ul>
                </article>
            </section>